@model IEnumerable<test.Models.Quests>

@{
    ViewBag.Title = "Quests";
}

<h2>Quests</h2>

@foreach (var item in Model)
{
    <p>@item.UserName requires your aid in @item.Quest at @item.Time @item.AmOrPm on @item.Date</p>

            @Html.DisplayFor(modelItem => item.Quest)

            @Html.DisplayFor(modelItem => item.Date)

            @Html.DisplayFor(modelItem => item.Time)

            @Html.DisplayFor(modelItem => item.AmOrPm)

}
