@model IEnumerable<test.Models.Quest>

@{
    ViewBag.Title = "Quests";
}

<h2>Quests</h2>
<div class="row">
    @foreach (var quest in Model)
    {
        if (quest.Date == DateTime.Now.Date)
        {
            <div class="col-md-7 well well-lg">
                <p>
                    @quest.UserName requires your aid in battle Today!
                    @if (!quest.AlsoQuesting.IsEmpty())
                    {
                        <span>They are receiving aid from: @quest.AlsoQuesting will you join the fight?</span>
                    }
                </p>
            </div>
        }
        else if (quest.Date == DateTime.Now.Date.AddDays(1))
        {
            <div class="col-md-7 well well-lg">
                <p>
                    @quest.UserName requires your aid in battle Tomorrow!
                    @if (!quest.AlsoQuesting.IsEmpty())
                    {
                        <span>They are receiving aid from: @quest.AlsoQuesting will you join the fight?</span>
                    }
                </p>
            </div>
        }
        else
        {
            <div class="col-md-7 well well-lg">
                <p>
                    @quest.UserName requires your aid in battle on: @quest.Date.ToString("MMMM dd").
                    @if (!quest.AlsoQuesting.IsEmpty())
                    {
                        <span>They are receiving aid from: @quest.AlsoQuesting will you join the fight?</span>
                    }
                </p>
            </div>
        }
    }
</div>
@Html.ActionLink("Create a quest", "CreateQuest")